@model SetepassosPRJ.Models.Perfil
@{
}

<div>
    <a asp-action="" class="btn btn-primary" role="button">Atacar</a>
    <a asp-action="" class="btn btn-primary" role="button">Fugir</a>
    <a asp-action="" class="btn btn-primary" role="button">Beber Poção de Vida</a>
</div>