@model SetepassosPRJ.Models.Perfil
@{
}



<div>
    <img src="~/images/Rooms/Room1 monstro.png" alt="Falha a carregar imagem" class="areajogo" />
</div>

<div>
    <a asp-action="" role="button"><img src="~/images/btns/btn-atacar.png" class="BotaoJogar" /></a>
    <a asp-action="" role="button"><img src="~/images/btns/btn-fugir.png" class="BotaoJogar" /></a>
    <a asp-action="" role="button"><img src="~/images/btns/btn-pocao.png" class="BotaoJogar" /></a>
</div>