@{
    ViewData["Title"] = "Apresentacao";
}
<div class="row">
    <div class="col-sm-12">
        <h1>
            Equipa Captain Mangi
        </h1>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-7">
        <h2>Breve descrição</h2>
        <p> Somos uma equipa de 3 elementos do 2º ano do curso de GSI. </p>
        <p> Este é o nosso projeto para o trabalho de grupo da cadeira de Desenvolvimentos de Aplicações II.</p>
        <br />
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#Texto">   Mais sobre o projeto </button>
        <div class="collapse" id="Texto">

            <p> O projeto consiste na criação de um jogo chamado 7 passos. Optámos por dar ao nosso jogo um ambiente assustador mas divertido.</p>
            <p> O tema são os Simpsons meet Friday Night at Freddy's. Precisas estar concentrado para poderes fazer as melhores opções, mas se tiveres muito concentro arriscas-te a saltar da cadeira. </p>
        </div>
    </div>
    <div class="col-sm-5">
        <h2>
            Os membros da equipa
        </h2>
        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                <li class="" data-target="#carousel-example-captions" data-slide-to="1"></li>
                <li class="" data-target="#carousel-example-captions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img data-holder-rendered="true" src="~/images/fotos/Joao-Frame.png" data-src="holder.js/600x00/auto/#777:#777" alt="500x500">
                    <div class="carousel-caption">
                        <h4>João Ribeiro</h4>
                    </div>
                </div>
                <div class="item">
                    <img data-holder-rendered="true" src="~/images/fotos/David-Frame.png" data-src="holder.js/900x500/auto/#666:#666" alt="500x500">
                    <div class="carousel-caption">
                        <h4>David Dias</h4>
                    </div>
                </div>
                <div class="item">
                    <img data-holder-rendered="true" src="~/images/fotos/Fred-Frame.png" data-src="holder.js/900x500/auto/#555:#555" alt="500x500">
                    <div class="carousel-caption">
                        <h4>Frederico Milheiro</h4>
                    </div>
                </div>
            </div>
            <div id="text"></div>
            <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
