@{
    ViewData["Title"] = "HiScores";
}
    <div class="text-center">
        <table id="tabela" class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Posição</th>
                    <th class="text-center" scope="col">Nome Jogador</th>
                    <th class="text-center" scope="col">Pontuação (Moedas de Ouro)</th>
                    <th class="text-center" scope="col">Resultado Final</th>
                    <th class="text-center" scope="col">Chave Encontrada?</th>
                    <th class="text-center" scope="col">Inimigos Derrotados</th>
                    <th class="text-center" scope="col">Fugas do Inimigo</th>
                    <th class="text-center" scope="col">Áreas Investigadas</th>
                    <th class="text-center" scope="col">Itens Encontrados</th>
                    <th class="text-center" scope="col">Poções Obtidas</th>
                    <th class="text-center" scope="col">Poções Usadas</th>
                </tr>
            </thead>
            <tbody>
                <tr id="1" class="classe1">
                    <td>1º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr id="2" class="classe1">
                    <td>2º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr id="3" class="classe1">
                    <td>3º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>4º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>5º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>6º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>7º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>8º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>9º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr class="classe2">
                    <td>10º</td>
                    <td>José</td>
                    <td>3500</td>
                    <td>Vitória</td>
                    <td>Sim</td>
                    <td>5</td>
                    <td>2</td>
                    <td>1</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>