@{ Layout = "_Layout";
    ViewData["Title"] = "Home";
}


<h1>Do It!</h1>


<a asp-controller="Jogo" asp-action="CriarJogo" class="BotaoIniciar"> <img src="smiley.gif" alt="HTML tutorial" >Botao</a>
    