
@{
    ViewData["Title"] = "Instruções de Jogo";

}

<h1>Instruções de Jogo</h1>
<br />
<div class="text-center">
<p>Clique nas imagems para ampliar.</p>
<br />
<div class="row">
    <div class="col-sm-6">
        <a href="#img1">
            <img src="~/images/ImagensInstrucoes/instrucoes_sem_inimigo.jpg" class="thumbnail">
        </a>
        <p class="italic small">Janela sem inimigo.</p>
        <!-- lightbox container hidden with CSS -->
        <a href="#_" class="lightbox" id="img1">
            <img src="~/images/ImagensInstrucoes/instrucoes_sem_inimigo.jpg" alt="Imagem Instrucoes 1">
        </a>
    </div>
    <div class="col-sm-6">
        <a href="#img2">
            <img src="~/images/ImagensInstrucoes/instrucoes_com_inimigo.jpg" class="thumbnail">
        </a>
        <p class="italic small">Janela com inimigo.</p>
        <!-- lightbox container hidden with CSS -->
        <a href="#_" class="lightbox" id="img2">
            <img src="~/images/ImagensInstrucoes/instrucoes_com_inimigo.jpg" alt="Imagem Instrucoes 2">
        </a>
    </div>
</div>
 </div>


