
@{
    ViewData["Title"] = "Instruções de Jogo";

}

<h1>Instruções de Jogo</h1>

<div class="row">
    <div class="col-sm-8 ">
        <img src="~/images/ImagensInstrucoes/instruçoesInimigoDA2.png" class="ImagemInstrucoes" />
        <div class="col-sm-4">
            <h4>F</h4>
            <img src="~/images/btns/btn-atacar.png" class="ImagemBotoes" /><p>Botão Atacar</p>
            <img src="~/images/btns/btn-fugir.png" class="ImagemBotoes" /><p>Botão Fugir</p>
            <img src="~/images/btns/btn-pocao.png" class="ImagemBotoes" /><p>Botão para beber a poção</p>
            <img src="~/images/btns/btn-desistir.png" class="ImagemBotoes" /><p>Botão de Desistir</p>
        </div>
        <p></p>
        <h4>G</h4>
        <img src="~/images/Icons/icon-no-key.png" class="iconChave" />Chave não encontrada<p></p>
        <p></p>
        <h4>H</h4>
        <img src="~/images/MiniMap/mini-n-sala2.png" class="iconMapaSala" />Mapa da Sala- Posição 2<p></p>
    </div>


    <div class="col-sm-4">
        <div class="form-group">
            <h4>A</h4>
            <img src="~/images/Icons/icon-monstro-luck.png" class="iconsMonstro" /> Sorte do Inimigo
            <p></p>
            <img src="~/images/Icons/icon-monstro-forca.png" class="iconsMonstro" />Pontos de Força do Inimigo
            <p></p>
            <img src="~/images/Icons/icon-monstro-vida.png" class="iconsMonstro" />Pontos de Vida do Inimigo
            <p></p>
            <h4>B</h4><p>Vida que o inimigo perde.</p>
            <p></p>
            <h4>C</h4><p>Dano causado pelo ataque do inimigo.</p>
            <p></p>
            <h4>D</h4><p>Mensagem de Aviso.</p>
            <p></p>
            <h4>E</h4>
            <img src="~/images/W Frame mini.png" class="iconsMonstro" />Perfil Escolhido pelo Jogador<p></p>
            <img src="~/images/Icons/icon-vida.png" class="iconsMonstro" />Pontos de Vida do Jogador<p></p>
            <img src="~/images/Icons/icon-pocaoVida.png" class="iconsMonstro" />Poções de Vida do Jogador<p></p>
            <img src="~/images/Icons/icon-forca.png" class="iconsMonstro" />Pontos de Força do Jogador<p></p>
            <img src="~/images/Icons/icon-luck.png" class="iconsMonstro" />Pontos de Sorte do Jogador<p></p>
            <img src="~/images/Icons/icon-moeda.png" class="iconsMonstro" />Moedas do Jogador
        </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-8">
        <img src="~/images/ImagensInstrucoes/InstrucoesSemInimigo.png" class="ImagemInstrucoesSM" />

    </div>

    <div class="col-sm-4">
        <h4>A</h4>Mensagem sobre os itens encontrados
        <p></p>
        <h4>B</h4>
        <img src="~/images/Icons/icon-bonus-ouro.png" class="iconsMonstro" />Encontrado Icon Bónus de Ouro<p></p>
        <h4>C</h4>Mensagem de aviso- O inimigo foi morto<p></p>
        <h4>D</h4>
        <img src="~/images/Icons/icon-search.png" class="iconsMonstro" />Número de vezes que a área foi examinada<p></p>
        <h4>E</h4>
        <img src="~/images/Icons/icon-key.png" class="iconsMonstro" />Chave Encontrada<p></p>
        <h4>F</h4>O jogador ganhou moedas<p></p>
        <h4>G</h4>O jogador falhou o ataque
        <p>
        </p>
    </div>
</div>
