/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


html, body {
    height: 90%;
}

body {
    padding-top: 50px;
    padding-bottom: 10px;
    color: ghostwhite;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    background-image: url('../images/Layout/Entrance v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}




/*
    icon de vida
*/
/*Fazer colunas responsivas*/

.page-wrapper {
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/*Botao iniciar jogo no index*/
.BotaoIniciar {
    height: 80%;
    width: 80%;
    filter: brightness(1.4);
    margin: 20px;
}

.BotaoIniciar:hover {
    height: 82%;
    width: 82%;
    filter: brightness(1.6);
}

.BotaoJogar:hover {
    filter: brightness(1.4);
}

.icons {
    height: 25%;
    width: 25%;
    margin-left: 30px;
    margin-top: 8px;
}
.iconsMonstro {
    height: 3%;
    width: 3%;
    margin: 3px;
}

.iconMoeda {
    margin-top:35%;
}


.charpick {
   width: 22%;
   height: 22%;
}
.ArrangeChars {
    display: inline-block;
    margin-right: 2%;
    font-size: 70%;
}

.BotaoDisabled {
    width: 55%;
    height: 55%;
    margin: 5px;
    background: none;
    border-color: none;
    border-style: none;
}

.BotoesJogo {
    width: 50%;
    height: 50%;
    margin: 5px;
    background: none;
    border-color: none;
    border-style: none;
}
    .BotoesJogo:hover {
        filter: brightness(1.4);
        opacity: 0.7;
    }

label {
    color: beige;
    font-weight: bold;
    padding: 2px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
}


/*Padding para não atingir as laterais da página*/
.body-content {
    position: relative;
    padding-left: 10px;
    padding-right:10px;
}



.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
    


#qrCode {
    margin: 15px;
}


input[type='radio'] {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 1px;
    border: 1px solid black;
    margin: 4px;
}

#tabela {
    margin-top: 20px
}


.classe1 {
    color: yellow;
    font-weight: bold;
}

.classe2 {
    color: lightgrey;
    font-weight: bold;
}

.carousel-caption {
    display:none;
}

.carousel-inner > .item > img {
    width: 400px;
    height: 360px;
}

.carousel {
    width: 400px;
    height: 360px;
}

.botoes {
    display: inline-block;
    margin-left: 125px;
    margin-top: 20px;
}


.dados {
   display:inline-block;
    margin-top: 20px  
}


.validation-summary-errors {
    font-weight: bold;
    margin-top:20px;
}

.areajogo {
    float: left;
    position: relative;
    width: 640px;
    height: 520px;
    padding-right: 5px;
    display: inline-block;
}

.monstro {
    position: fixed;
    width: 36%;
    height: 70%;
    bottom: 10px;
    left: 16%;
}

.areajogavel {
    background-image: url(../images/Rooms/AreaJogo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.areadados {
    margin-top: 40%;
}


.areabotoes {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

/* headers com estilo */
h1 {
    color: gold;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 0px 0px 2px cyan;
}
h2 {
    color: gainsboro;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px black;
}

h3 {
    color: darkcyan;
}

.fundoJogo {
    background-image: url(../images/Rooms/Room1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2px;
    position: relative;
}

/*Mensagens de contexto*/
.MensagemVidaPos {
    color:chartreuse;
    font-family: Verdana;
    display: inline-block;
    font-size:18px;
}
.MensagemVidaNeg {
    color: deeppink;
    font-family: Verdana;
    display: inline-block;
    font-size: 18px;
}
.MensagemOutro {
    color: gold;
    font-family: Verdana;
    display: inline-block;
    font-size: 18px;
}
.MensagemDano {
    color:crimson;
    font-family: Verdana;
    display: inline-block;
    font-size: 20px;
    margin-left: 18px;
}