/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 60px;
    padding-bottom: 10px;
    color: ghostwhite;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    background-image: url('../images/Layout/Entrance v1.png')
}

/*Fazer a pagina inicial com 3 divisões responsivas*/
.box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}
.box .column {
        flex: 1;
        margin-right: 8px;
        padding: 12px;
}
/*Fazer a pagina inicial com 3 divisões responsivas*/
.BotaoIniciar {
    height: 80%;
    width: 80%;
    filter: brightness(1.4);
   
}

.BotaoIniciar:hover {
    height: 82%;
    width: 82%;
    filter: brightness(1.6);
}

.BotaoJogar:hover {
    filter: brightness(1.4);
}

.icons {
    height: 40%;
    width: 40%;
    margin-left: 30px;
}


#backg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

 #backg img {
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        bottom: 10px;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
 }

#overlap {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#overlap img {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        margin: auto;
        min-width: 30%;
        min-height: 30%;
}

.charpick {
   width: 22%;
   height: 22%;
}
.ArrangeChars {
    display: inline-block;
    margin-right: 2%;
    font-size: 70%;
}

.BotoesJogo {
    width: 130px;
    height: 70px;
    margin-left: 20px;
}
.BotoesJogo:hover {
     filter: brightness(1.4);
}


label {
    color: beige;
    font-weight:bold;
    padding: 2px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
}


/*Padding para não atingir as laterais da página*/
.body-content {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}



.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
    


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    
    /* Hide captions
    .carousel-caption {
        display: none;
    }
    */
}



input[type='radio'] {
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 1px;
    border: 1px solid black;
}

#tabela {
    margin-top: 20px
}


.classe1 {
    color: yellow;
    font-weight: bold;
}

.classe2 {
    color: lightgrey;
    font-weight: bold;
}

.carousel-caption {
    display:none;
}

.carousel-inner > .item > img {
    width: 400px;
    height: 360px;
}

.carousel {
    width: 400px;
    height: 360px;
}

.botoes {
    display: inline-block;
    margin-left: 125px;
    margin-top: 20px;
}


.dados {
   display:inline-block;
    margin-top: 20px  
}


.validation-summary-errors {
    font-weight: bold;
    margin-top:20px;
}

.areajogo {
    float: left;
    position: relative;
    width: 640px;
    height: 520px;
    padding-right: 5px;
    display: inline-block;
}

.monstro {
    position: fixed;
    width: 65%;
    height: 70%;
    display: inline-block;
    margin-top: 60px;
    left: 16%;
}

.areajogavel {

    background-image: url(../images/Rooms/AreaJogo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.areadados {
    margin-top: 50px;
}


.areabotoes {
    width: 10%;
    height: 10%;
    margin-top:50px;
}

/* headers com estilo */
h1 {
    color: gold;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 0px 0px 2px cyan;
}
h2 {
    color: gainsboro;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px black;
}

h3 {
    color: darkcyan;
}

