/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.sala {
    background-image: url('../images/Rooms/Room1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

body {
    padding-top: 60px;
    padding-bottom: 10px;
    color: ghostwhite;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    background-image: url('../images/Layout/Entrance v1.png')
}

.BotaoIniciar {
    height: 25%;
    width: 25%;
    filter: brightness(1.4);
}

.BotaoIniciar:hover {
    height: 26%;
    width: 26%;
    filter: brightness(1.6);
}

.BotaoJogar:hover {
    filter: brightness(1.4);
}

.icons {
    position:relative;
    height: auto;
    width: auto;
    max-width: 22%;
    max-height: 22%;
    display:inline-block;
}


#backg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

 #backg img {
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        bottom: 10px;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
 }

#overlap {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#overlap img {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        margin: auto;
        min-width: 30%;
        min-height: 30%;
}

.charpick {
   width: 22%;
   height: 22%;
}
.ArrangeChars {
    display: inline-block;
    margin-right: 2%;
    font-size: 70%;
}

.BotoesJogo {
    width: 130px;
    height: 70px;
}
.BotoesJogo:hover {
     filter: brightness(1.4);
}


label {
    color: beige;
    font-weight:bold;
    padding: 2px;
    text-transform: uppercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
}


/*Padding para não atingir as laterais da página*/
.body-content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}



.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
    


#qrCode {
    margin: 15px;
}


@media screen and (max-width: 767px) {
    
    /* Hide captions
    .carousel-caption {
        display: none;
    }
    */
}



input[type='radio'] {
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 1px;
    border: 1px solid black;
}

#tabela {
    margin-top: 20px
}


.classe1 {
    color: yellow;
    font-weight: bold;
}

.classe2 {
    color: lightgrey;
    font-weight: bold;
}

.carousel-caption {
    display:none;
}

.carousel-inner > .item > img {
    width: 400px;
    height: 360px;
}

.carousel {
    width: 400px;
    height: 360px;
}

.botoes {
    position:relative;
    display: inline-block;
    margin-left: 125px;
    margin-top: 20px;
}


.dados {
    float:left;
    margin-top: 20px  
}


.validation-summary-errors {
    font-weight: bold;
    margin-top:20px;
}

.areajogo {
    float: left;
    position: relative;
    width: 640px;
    height: 520px;
    padding-right:5px;
    display: inline-block;
}

.areajogavel {
    position:fixed;
    width: 65%;
    height: 70%;
    display: inline-block;
    margin-top:60px;
    left:16%;
}
.areadados {
    position: fixed;
    width: 20%;
    height: 20%;
    left:5%;
    margin-top:15px;
    display: inline-block;
}
.areabotoes {
    position: fixed;
    width: 10%;
    height: 10%;
    display: inline-block;
    right:80px;
    margin-top:50px;
}

/* headers com estilo */
h1 {
    color: gold;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 0px 0px 2px cyan;
}
h2 {
    color: gainsboro;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px black;
}

h3 {
    color: darkcyan;
}

